[submodule "push_swap_tester"]
	path = push_swap_tester
	url = git@github.com:LeoFu9487/push_swap_tester.git
[submodule "push_swap_visualizer"]
	path = push_swap_visualizer
	url = git@github.com:o-reo/push_swap_visualizer.git
